rules_version = '2';


/// helper functions ///
function isSignedIn() {
	return request.auth != null;
}
function emailVerified() {
	return request.auth.token.email_verified;
}
function userExists() {
	return exists(/databases/$(database)/documents/users/$(request.auth.uid));
}

// [READ] Data that exists on the Firestore document
function existingData() {
	return resource.data;
}
// [WRITE] Data that is sent to a Firestore document
function incomingData() {
	return request.resource.data;
}

function isOwner(userId) {
	return request.auth.uid == userId;
}

function isSuperUser(){
	return request.auth.token.superUser == true;
}

function isProducerRep() {
	return [request.auth.uid].hasAny(existingData().repIds)
}

function userEmail(userId) {
	return get(/databases/$(database)/documents/users/$(userId)).data.email;
}



service cloud.firestore {
  match /databases/{database}/documents {



    match /{document=**} {
      allow read: if false;
			allow write: if false;
    }

		match /users/{userId} {
			allow create: if false;
			allow delete: if false;
			allow read:	if isSignedIn(); 
			allow update:	if isSignedIn() && isOwner(userId)
											// //TODO: isAdmin(userId) && isAuditor(userId)
											// && (existingData().plantations == incomingData().plantations
											// || existingData().profile == incomingData().profile)
											// // edit of the the vehicles field values will be overwritten
											// // back to previous values by the userOnUpdate cloud function,
											// // only delete of a vehicle map entry is allowed 

		}

		match /profiles/{userId} {
						// allow read, write;
				allow read:	if isSignedIn() && isOwner(userId) //TODO: isAdmin(userId) && isAuditor(userId)
				allow create:	if isSignedIn() && isOwner(userId) //TODO: isAdmin(userId) && isAuditor(userId)
				allow update:	if isSignedIn() && isOwner(userId) //TODO: isAdmin(userId) && isAuditor(userId)
				allow delete: if false

		}

		match /vehicles/{vehicleId} {
			// allow read, write;
				allow read:	if isSignedIn() && isOwner(existingData().userId)
				allow create:	if isSignedIn() && isOwner(incomingData().userId)  //TODO: isAdmin(userId) && isAuditor(userId)
										// && incomingData().size() == 7
										&& incomingData().license is string
										&& incomingData().colour is string
										&& incomingData().model is string
										// && incomingData().make is map
										&& incomingData().url is string
										&& incomingData().loadingCapacity is number
										// && incomingData().make.size() == 2
										// && incomingData().make.type is string
										// && incomingData().make.detail is string

				allow update:	if isSignedIn() && isOwner(existingData().userId) //TODO: isAdmin(userId) && isAuditor(userId)
										&& incomingData().userId == existingData().userId
										&& incomingData().isRemoved == existingData().isRemoved
										&& incomingData().createdAt == existingData().createdAt
										&& incomingData().updatedAt == existingData().updatedAt
										&& existingData().isRemoved == false
		
				allow delete: if false

		}


		match /plantations/{plantationId} {
			// allow read, write;
				allow read:	if isSignedIn() &&  ( isOwner(existingData().userId) || isProducerRep() )
				
				allow create:	if isSignedIn() && isOwner(incomingData().userId)  //TODO: isAdmin(userId) && isAuditor(userId)
											// && incomingData().size() == 3
											// && incomingData().unAudited.size() == 11
											// && incomingData().name is string
											// && incomingData().unAudited.management.type is string
											// && incomingData().unAudited.management.name is string
											// && incomingData().unAudited.management.otherDetails is string
											// && incomingData().unAudited.buyerAssociation.type is string
											// && incomingData().unAudited.buyerAssociation.plasma is string
											// && incomingData().unAudited.buyerAssociation.mill is string
											// && incomingData().unAudited.buyerAssociation.agreement is string
											// && incomingData().unAudited.certification is string
											// && incomingData().unAudited.area is number
											// && incomingData().unAudited.age is number // age min max check?
											// && incomingData().unAudited.treesPlanted is number
											// && incomingData().unAudited.treesProductive is number
											// && incomingData().unAudited.aveMonthlyYield is number
											// && incomingData().unAudited.proofOfRights is string
											// && incomingData().unAudited.landPreviousUse is string
											// && incomingData().unAudited.landClearingMethod is string

				allow update:	if isSignedIn() &&  ( isOwner(existingData().userId) || isProducerRep() ) //TODO: isAdmin(userId) && isAuditor(userId)
											&& incomingData().userId == existingData().userId
											&& incomingData().isRemoved == existingData().isRemoved
											&& incomingData().createdAt == existingData().createdAt
											&& incomingData().updatedAt == existingData().updatedAt
											&& incomingData().isActive == existingData().isActive
											&& incomingData().auditAcceptedAt == existingData().auditAcceptedAt
											&& incomingData().auditAt == existingData().auditAt
											&& incomingData().auditBy == existingData().auditBy
											&& existingData().isRemoved == false
								
				allow delete: if false

		}


		match /plantations/{plantationId}/buyers/{buyerId} {
				allow read:	if isSignedIn() &&  ( isOwner(existingData().userId) || isProducerRep() )	
				allow create:	if isSignedIn() && isOwner(userId) //TODO: isAdmin(userId) && isAuditor(userId)
				allow update:	if isSignedIn() && isOwner(userId) //TODO: isAdmin(userId) && isAuditor(userId)
				allow delete: if false
		}	


		match /assistance/{assistanceId} {
				allow read:	if isSignedIn() && isOwner(incomingData().userId) //TODO: isAdmin(userId) && isAuditor(userId)
				allow create:	if isSignedIn() && isOwner(incomingData().userId) //TODO: isAdmin(userId) && isAuditor(userId)
				allow update:	if isSignedIn() && isOwner(incomingData().userId) //TODO: isAdmin(userId) && isAuditor(userId)
				allow delete: if false
		}

		match /mills/{millsId} {
				allow read:	if true
				allow write: if false
		}
	
		function isMillAdminRead(){
			return existingData().millId in get(/databases/$(database)/documents/profiles/$(request.auth.uid)).data.millAdmins 
		}		
		
		function isMillAdminCreate(millId){
			return millId in get(/databases/$(database)/documents/profiles/$(request.auth.uid)).data.millAdmins 
		}		

		function canRegMillRep(){
				return (isMillAdminCreate(incomingData().millId) || isSuperUser())  
		}

		function adminCamRegRepOnly(){
			return isSuperUser()  ||  (isMillAdminCreate(incomingData().millId) && incomingData().isAdmin == false)
		}

		match /millReps/{millRepsId} {
				allow read:	if isSignedIn() 
				allow create: if  isSignedIn() && canRegMillRep()
											&& incomingData().registrarId == request.auth.uid
											&& adminCamRegRepOnly()// admin cannot create another admin
 											&& incomingData().size() == 6
											&& incomingData().millId is string
											&& incomingData().millName is string
											&& incomingData().name is string
											&& incomingData().phoneNumber is string
											&& incomingData().registrarId is string
											&& incomingData().isAdmin is bool

	
				allow delete:	if isSignedIn() 
												&& (isSuperUser() || (isMillAdminRead() && existingData().isAdmin == false)) // admin cannot delete himself or another admin
											
				allow update: if false
		}


	  match /transactionsUpdate/{transactionsUpdateId} {
				allow read:	if false
				allow write: if false
		}

		function isTransactionOwnerWrite(){
			return (request.auth.uid == incomingData().buyerId || request.auth.uid == incomingData().sellerId)
		}
 
		function isTransactionOwnerRead(){
			return (request.auth.uid == existingData().buyerId || request.auth.uid == existingData().sellerId)
		}

		function isCollectionPointExist(){
			return (!('collectionPoint' in incomingData().keys()) || incomingData().collectionPoint is latlng)
		}
	 
		match /transactionsPending/{transactionsPendingId}{
					allow read:	if isSignedIn()  && isTransactionOwnerRead()
					allow create:	if isSignedIn() && isTransactionOwnerWrite()
												&& 	isCollectionPointExist()
												&&	incomingData().amount is number
												&&	incomingData().clientPhoneNumber is string
												&&	incomingData().clientType is string
												&&  incomingData().origins.size() >= 0 
												&&	incomingData().transactionType is string
												&&	incomingData().transportationBy is string	
												&&	incomingData().vehicle is string	
												&&	(incomingData().vehicleId is string	|| (string(incomingData().vehicleId) == "null")) 
												&&	incomingData().millName is string	
												&&	(incomingData().millId is string	|| (string(incomingData().millId) == "null")) 

					allow update:	if false											
					allow delete:	if isSignedIn() && isTransactionOwnerRead()  
		}
	
		match /tradeboard/{userId}{
					allow read:	if isSignedIn() &&  isOwner(userId) // can access your own tradebaord only
					allow create:	if false
					allow delete:	if false  
					allow update: if false
		}



 }
}